.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    background-color: #D6E2F0;
}

section{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 300px;
    margin-top: 50%;
    padding: 20px 15px;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5%;
}

section figure{
    width: fit-content;
}

section figure img{
    border-radius: 2%;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

section h1{
    margin: 15px 30px 20px 15px;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 20px;
    color: #1F3251;
}

section p{
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 15px;
    margin: 15px 20px;
    color:  #7B879D;
}

footer{
    margin-top: 22%;
}